<!doctype html>
<html lang="en" ng-app="mq">
<head>
	<meta charset="UTF-8">
	<title>Macquarie Code Test Demo</title>
	<link rel="stylesheet" href="build/main.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<!-- use this directive to render the search view -->
<mq-staff-search></mq-staff-search>
	
<div class="container" ng-controller="StaffSearchController">
    <form class="form-horizontal">
        <div class="form-group">
          <label for="query" class="control-label">Staff Search</label>
          <input id="query" class="form-control" ng-model="query">
        </div>
    </form>    
    <br/>
    <!--Body content-->
    <div class="row">
      <div ng-repeat="staff in staffs | filter : filterStaff() as filteredStaffs">
        <div class="col-md-3 col-xs-6">
          <p class="text-center">
            <img class="img-circle" ng-src="http://api.adorable.io/avatars/120/{{staff.name}}@adorable.png" />
          </p>
          <p class="text-center"><strong>{{staff.name}}</strong></p>
          <p class="text-center">Role: {{staff.role}}</p>
          <p class="text-center">Office: {{staff.office}}</p>
        </div>
       </div> 
       <div class="alert-danger" ng-if="filteredStaffs.length === 0">
          No results found
       </div>
    </div>
 
</div>
  
<script src="bower_components/angular/angular.js"></script>
<script src="app/js/main.js"></script>
<script src="app/js/service.js"></script>

</body>
</html>